body{background-color: rgb(198, 198, 248);}
h1{color: darkslateblue;font-family: Impact, Haettenschweiler, Arial , Helvetica, sans-serif;font-size: larger; text-align: center}
h2{color: blueviolet;font-family:Impact, Haettenschweiler, Arial, Helvetica, sans-serif;font-size: larger; text-align: center}
h3{color: darkmagenta;font-family: Impact, Haettenschweiler,Arial, Helvetica, sans-serif;font-size: larger; text-align: center}
h4{color: darkviolet;font-family:Impact, Haettenschweiler, Arial, Helvetica, sans-serif;font-size: larger; text-align: center}
h5{color: fuchsia;font-family: Impact, Haettenschweiler,Arial, Helvetica, sans-serif;font-size: larger; text-align: center}
h6{color: deeppink;font-family:Impact, Haettenschweiler, Arial, Helvetica, sans-serif;font-size: larger; text-align: center}
li{color: slategrey;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: medium; text-align: center}